<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dino CRUD 🦖</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/dinosaurs">all Dinos</a></li>
            <li><a href="/dinosaurs/new">new Dino form</a></li>
            <li><a href="/prehistoric_creatures">all Prehistoric Creatures</a></li>
            <li><a href="/prehistoric_creatures/new">new Prehistoric Creatures form</a></li>
        </ul>
    </nav>

    <h1> Love Them Dinos </h1>
    <%- body %>
</body>
</html>