<h3>Index of all Prehistoric Creatures:</h3>
<div>
    <% creatures.forEach((creature, id) => { %>


       <h4> <%= creature.type %></h4> 
            <img src="<%= creature.img_url %>" />
        <div>
            <a href="/prehistoric_creatures/edit/<%= id %>">Edit</a>
            
            <form method="POST" action="/prehistoric_creatures/<%= id %>/?_method=DELETE">
                <input type="submit" value="delete">
            </form></div>


            <%}) %>
     
</div>