<h3>Index of all Prehistoric Creatures:</h3>
<div>
    <% creatures.forEach(creature => { %>


       <h4> <%= creature.type %></h4> 
            <img src="<%= creature.img_url %>" />


            <%}) %>
     
</div>